body {
    padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

hr { margin: 20px 0 20px 0; }

.center-block {  
    width:640px;
  display: block;  
  margin-right: auto;  
  margin-left: auto;  
}

.caption {
    padding:2rem 2rem 1rem 2rem;
}

.figure {
    padding: 2rem 2rem 2rem 2rem;
}

.small-img {
    width: 450px;
    height: auto;
}

.mostfet-no-resize {
    max-width: 264px;
    max-height: 191px;
}

.relay-no-resize {
    max-width: 224px;
    max-height: 194px;
}

.ui-no-resize {
    max-width: 536px;
    max-height: 376px;
}